/* @media (min-width: 767px) {
    .navbar {
        top: 54px;
    }

    .pagewide {
        height: 54px;
    }
} */
/* @media (min-width: 400px) {
  #canvas {
  width: 400;
  height: 600;
  }
} */
#long-rules {
  padding-top: 15px;
  opacity: 1;
}
#short-rules {
  padding-top: 15px;
}
