/* @media (min-width: 767px) {
    .navbar {
        top: 54px;
    }

    .pagewide {
        height: 54px;
    }
} */
/* @media (min-width: 400px) {
  #canvas {
  width: 400;
  height: 600;
  }
} */

#canvas {
width: 400;
height: 600;
}

/* #canvas-holder {
  width: 100%;
} */
